<div class="feed-card">
  <div class="page-header">{{ pageTitle }}</div>

  @if (loading) {
    <div class="state-message">Loading post…</div>
  } @else if (error || !post) {
    <div class="state-message state-error">Couldn't load this post. Please try again later.</div>
  } @else {
    <div class="post-block">
      <div class="post-author-row">
        <div class="avatar">{{ post.authorInitial }}</div>
        <div class="post-author-meta">
          <div class="author-name">{{ post.authorName }}</div>
          <div class="post-date">{{ post.createdAt | date: 'd MMMM y HH:mm' }}</div>
        </div>
      </div>

      @if (post.content) {
        <p class="post-content">{{ post.content }}</p>
      }

      @if (post.imageUrl) {
        <img class="post-image" [src]="post.imageUrl" alt="" />
      }
    </div>

    <div class="comments-block">
      <app-comment-input
        [authorName]="currentUserName"
        [authorInitial]="currentUserInitial"
        [submitting]="submitting"
        (submitted)="onSubmitComment($event)"
      />

      @for (comment of post.comments; track comment.id) {
        <app-comment-item [comment]="comment" />
      }
    </div>
  }
</div>
